{% extends "layout/base.html" %}

{% block title %}Webasyst - {{ super() }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Реквизиты выгрузки категории #{{category_id}}</h5>
        <p class="card-text">Незаполненные поля будут оставлены пустыми</p>
        <form action="{{ url_for('category_webassyst', category_id=category_id) }}" method="post">
          <div class="form-group row">
            <label for="gender" class="col-sm-3 col-form-label">Пол</label>
            <div class="col-sm-9">
              <select name="gender" id="gender" class="form-control">
                <option selected value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="course" class="col-sm-3 col-form-label">Курс евро</label>
            <div class="col-sm-9">
              <input type="number" name="course" id="course" class="form-control" placeholder="1" min="0" max="500">
            </div>
          </div>
          <div class="form-group row">
            <label for="margin" class="col-sm-3 col-form-label">Наценка (%)</label>
            <div class="col-sm-9">
              <input type="number" name="margin" id="margin" class="form-control" placeholder="1" min="0" max="500">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary float-right">Скачать выгрузку</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
